@media (min-width: 800px) {
  .contain {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    height: 37.3rem;
  }

  .editProfile-fileSelect {
    font-size: 1rem;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    background-color: red;
    cursor: pointer;
  }

  .pic {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em;
    color: white;
    font-family: monospace;
    height: 24rem;
    flex-grow: 1;
    margin: 2rem;
    width: 15%;
    padding: 5rem;
    }

  .image-button {
    display: flex;
    margin-top: 1rem;;
    justify-content: center;
    margin-left: 12rem;
  }

  .list {
    display: flex;
    justify-content: flex-start;
    flex-grow: 2;
    flex: 2;
    align-items: flex-end;
    width: 100%;
    }

  .image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 100px;
  }

  .button-modification {
    background-color: rgb(83, 127, 247) !important;
    color: #fff !important;
    text-transform: none !important;
    margin-top: 1.5rem !important;
  }

  .items {
    display: flex;
    flex-direction: column;
    width: 20rem;
  }

  .input-items {
    margin-top: 0.5rem;;
  }
}

@media (max-width: 800px) {


  .pic{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }

  .list{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    }

  .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .image-button {
    margin-top: 20px;
  }

  .button-modification {
    background-color: #939ba0 !important;
  }

  .input-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .items{
    display: flex;
    margin-bottom: 1rem;
  }
}

