.link {
  font-size: 20px;
  padding: 18px;
  transition: .2s;

  &:hover {
    background-color: #e04a9f;
    text-shadow:  
      0 0 1px #0007,
      1px 0 1px #0007,
      0 1px 1px #0007,
      1px 1px 1px #0007;
    font-size: 20px;
    padding: 18px;
  }
}

@media (max-width: 1025px) {
  .hey {
    display: none;
  }
}
