.Header {
  display: flex;
  background-color: #F5F5F5;
  border-bottom: 0.2rem solid rgb(70, 66, 66);
  height: 7rem;
  text-shadow: 0 0.2em 0.2em rgb(70, 66, 66);
  padding-top: 0.4rem;

  &-Logo {
    img {
      width: 6rem;
    }
  }

  &-SocialNetworkLinks {
    margin: auto 3rem auto auto;

    &-Link {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      transition: 3s;
    }
  }

  &-Login {
    font-size: 1rem;
    font-weight: bold;
  }
}

.fab, .fa-share-alt {
  font-size: 2rem;
}

.fa-user {
  display: block;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 1025px) {
  .Header {
    // justify-content: space-between;

    &-Logo {
      // text-align: center;
    }

    &-Login {
      // margin: auto 0;

    }

    &-Slogan {
      display: block;
      font-size: 2.5rem;
      margin: auto 0 auto 2rem;
      color: rgb(202, 25, 78);
      font-family: Baskerville;
      text-shadow: 0 0.2em 0.2em rgb(202, 25, 78);
    }
  }

  .fab, .fa-share-alt {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {

}
