.Header {
  display: flex;
  justify-content: space-between;
  padding: 0.5%;
  border-bottom: 0.05em solid rgb(70, 66, 66);
  height: 9vh;
  background-color: #F5F5F5;
  font-size: 2em;
  text-shadow: 0 0.2em 0.2em rgb(70, 66, 66);

  &-Logo {
    width: 7vh;
    text-align: center;
  }

  &-SocialNetworkLinks {
    margin: auto;
  }

  &-Login {

    font-size: 1.5vh;
    margin: auto 0;

    &-Link {
      font-weight: bold;
    }
  }

  &-Slogan {
    margin: auto 2vw;
    color: rgb(202, 25, 78);
    font-family: Baskerville;
    text-shadow: 0 0.2em 0.2em rgb(202, 25, 78);
  }
}

.fab, .fa-share-alt {
  font-size: 3vh;
  margin: 0 1vw;
}

.fa-user {
  display: block;
  font-size: 3em;
  text-align: center;
}
