.FeedbacksCarousel {
  position: relative;
  margin: auto;
  width: 70vw;

  &-Paragraph {
    position: absolute;
    top: 85%;
    left: 3%;
    font-style: italic;
    color: #fff;
    text-shadow: 0 0 10px #000, 2px 2px 2px #000;
  }
}

@media (min-width: 1700px) {
  .FeedbacksCarousel-Paragraph {
    font-size: 3rem;
  }
}

@media (max-width: 1699px) {
  .FeedbacksCarousel-Paragraph {
    font-size: 2.5rem;
  }
}

@media (max-width: 1449px) {
  .FeedbacksCarousel-Paragraph {
    font-size: 2rem;
  }
}

@media (max-width: 1129px) {
  .FeedbacksCarousel-Paragraph {
    font-size: 1.5rem;
  }
}

@media (max-width: 849px) {
  .FeedbacksCarousel-Paragraph {
    font-size: 0.7rem;
  }
}
