.FeedbacksCarousel {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom:solid 0.05rem #b4b4b4;
  font-size: 2rem;

  &-Feedback {
    text-align: center;
  }

  &-UserName, &-ServiceName {
    font-weight: bolder;
  }
}

@media (max-width: 1025px) {
  .FeedbacksCarousel {
    font-size: 1rem;
    margin: 0.5rem;
  }
}
