.benefits {
  &-section {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0 2rem;
    &:nth-child(even) &-section-form {
      order: 1;
    }
    &:nth-child(odd) &-section-form {
      order: -1;
    }

    &-image {
      width: 50%;
    }

    &-form {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0 0rem 0 2rem;
    }

    &-title {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
      text-shadow:
        0 0 1px #B4B4B4,
        2px 0 1px #B4B4B4,
        0 2px 1px #B4B4B4,
        2px 2px 1px #B4B4B4;
    }

    &-label {
      margin-top: 1rem;
      text-shadow:
        0 0 1px #B4B4B480,
        2px 0 1px #B4B4B480,
        0 2px 1px #B4B4B480,
        2px 2px 1px #B4B4B480;
    }
  }
}

.benefits-button {
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 1025px) {
  .benefits {
    &-section {
      &-form {
        width: 100%;
        margin: 0;
      }
      &-image {
        display: none;
      }
      &-title {
        margin: auto;
        width: 100%;
        font-size: 1.5rem;
      }
    }
  }
}
