.Benefits-Button {
  text-align: center;
}

.Benefits-HairRemoval {
  display: flex;
  justify-content: space-between;
}

.Benefits-HairRemoval-Image {
  width: 50%;
  justify-content: flex-end;
}

.Benefits-HairRemoval-Form {
}
