h1 {
  font-size: 5rem;;
}

.Benefits {
  margin: 2rem;
  &-Nails, &-HairRemoval, &-Makeup, &-Face, &-Body, &-HandsAndFeet {
    display: flex;
    justify-content: space-between;

    &-Image {
      width: 50%;
      justify-content: flex-end;
    }

    &-Form {
      display: flex;
      flex-direction: column;
    }
  }
}

.Benefits-Button {
  text-align: center;
  margin-top: 2rem;
}
