@mixin colorToClass($name, $color) {
  .color-#{$name} {
    color: $color !important;

    &-hover:hover {
      color: $color !important;
    }
  }

  .bg-#{$name} {
    background-color: $color !important;

    &-hover:hover {
      background-color: $color !important;
    }
  }
}
