.messages {
  &::-webkit-scrollbar {
    width: 7px;
    background-color: transparent !important;

    &-thumb {
      background-color: #aaa;
      border-radius: 10px;
    }
  }

  .message-container {
    max-width: 235px;
    border-radius: 1rem;
  }
}

.input-chatBox-send{
  height: 8.5rem;
}

.chatbox-all {
  background-image:url('../../../../assets/images/chat-wallpaper.jpg');
}

.input-chatbox {
  width: 11.5rem;
}

.chatbox-interface {
  border: 1px solid black;
  border-radius: 7px;
}
