.messages {
  &::-webkit-scrollbar {
    width: 7px;
    background-color: transparent !important;

    &-thumb {
      background-color: #aaa;
      border-radius: 10px;
    }
  }

  .message-container {
    max-width: 235px;
    border-radius: 1rem;
  }
}
